
@model IList<OurWebsite.Models.Persona>
@{
    ViewBag.Title = "Us";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

@foreach (var persona in Model)
{
<div>
    <label>Persona</label>
    <ul>
        <li><b>Name:</b> @persona.Name</li>
        <li><b>Age:</b> @persona.Age</li>
        <li><b>Description:</b> @persona.Description</li>
        <li><b>Education:</b> @persona.Education</li>
    </ul>
</div>
}