@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to our Website!</h1>
    <p class="lead">This is the website developed by Kennet and Emil for the Internet Technology course at SDU (Spring 2018). Use the menu-bar at the top to navigate around.</p>
</div>